@font-face {
    font-family: 'Century';
    src: url('../fonts/Century-Normal.eot');
    src: url('../fonts/Century-Normal.eot?#iefix') format('embedded-opentype'), url('../fonts/Century-Normal.woff2') format('woff2'), url('../fonts/Century-Normal.woff') format('woff'), url('../fonts/Century-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri.woff2') format('woff2'), url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Calibri';
    font-weight: normal;
    font-size: 14px;
    color: #000;
    line-height: normal;
    background: #fff;
    /*pink: ff5f6a*/
    /*black:000000 */
}

* {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

h1,
h2,
h4 {
    font-family: 'Century';
    font-weight: normal;
    /* font-weight: 600; */
    color: #000;
    margin: 0 0 15px;
}

h1,
h2 {
    font-size: 48px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}


/*--Header--*/

.ex-menu {
    margin-top: 10px;
}

.ex-menu .site-header {
    padding-bottom: 3px;
}

.ex-logo a {
    display: block;
}

.ex-menu .navbar-dark .navbar-nav .nav-item:not(:first-child) {
    margin-left: 15px;
}

.ex-menu .navbar-dark .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

.ex-menu .navbar-dark .navbar-nav .nav-link:hover,
.ex-menu .navbar-dark .navbar-nav .nav-link:focus,
.ex-menu .navbar-dark .navbar-nav .nav-link.active {
    color: #ff5f6a;
}

.ex-mainslider .owl-item {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.ex-mainslider .owl-item.active {
    box-shadow: 0px -2px 7px rgba(0, 0, 0, .35);
}

.ex-mainslider img {
    display: block;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.ex-title {
    text-align: center;
}


/*--Title--*/

.ex-title h1,
.ex-title h2 {
    font-size: 48px;
    font-weight: normal;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 11px;
    margin-bottom: 35px;
}

.ex-title h1::after,
.ex-title h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    width: 68px;
    height: 2px;
    bottom: 0;
}

.ex-title p {
    font-size: 24px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 28px;
    margin-bottom: 40px;
}


/*--About--*/

.ex-aboutleft h3 {
    margin-right: 0;
    font-weight: 600;
}

.ex-aboutleft h3 span {
    display: block;
    color: #ff5f6a;
}

.bdr-right {
    border-right: 1px solid #ff5f6a;
}

.ex-aboutright p {
    font-size: 18px;
    line-height: 28px;
}

.ex-btnreadmore {
    background-color: #ff5f6a;
    color: #fff;
    border: 2px solid #ff5f6a;
    border-radius: 22px;
    display: inline-block;
    padding: 6px 30px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.ex-btnreadmore:hover {
    color: #ff5f6a;
    background: #fff;
}

.ex-aboutsection {
    background: url(../images/about-bg.png) no-repeat top center;
    background-size: 100% 100%;
}


/*--Active--*/

.ex-achivesection {
    background: url(../images/photography-bg.png) no-repeat top center;
}

.ex-active-left img {
    margin-top: 10px;
}

.ex-active-right {
    margin-left: 20px;
}

.ex-active-right h3 {
    color: #fff;
    font-size: 48px;
    margin: 0;
}

.ex-active-right span {
    font-size: 18px;
    color: #fff;
}


/*--LastestSection--*/

.ex-latestsession {
    background: url(../images/latest-session-bg.png) no-repeat top center;
    background-size: 100% 100%;
}

.ex-lsbox {
    margin-bottom: 15px;
    margin-top: 15px;
}

.ex-lsbox img {
    width: 100%;
    max-height: 233px;
    object-fit: cover;
}

.ex-lsbox h4 {
    font-size: 24px;
    margin: 15px 0 5px;
}


.ex-lsbox p {
    font-size: 18px;
    margin: 0;
}

.ex-lsbox a {
    display: block;
}


/*--Testimonials--*/

.ex-testimonialsection {
    background: url(../images/testimonials-bg.jpg) no-repeat top center;
    background-size: cover;
    max-height: 500px;
}

.ex-testimonialsection h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    /* font-size: 48px; */
}

.ex-testimonials.owl-carousel .owl-item img {
    width: 92px;
    height: 92px;
    max-width: 92px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #bababa;
}

.ex-testinn {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.ex-testinn p {
    font-size: 17px;
    margin-top: 25px;
}

.ex-testinn h5 {
    font-weight: 600;
    margin: 0;
}


/*--Contact--*/

.ex-btncontact {
    text-transform: uppercase;
    font-size: 16px;
    padding: 6px 25px;
    color: #000;
    font-weight: 600;
    margin-top: 5px;
    display: inline-block;
    border: 2px solid #000;
}

.ex-btncontact:hover {
    color: #ff5f6a;
    border-color: #ff5f6a;
}

.ex-letswork h2 {
    margin-bottom: 30px;
}


/*--Footer--*/

footer {
    background: #ff5f6a;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ex-copyrights p {
    font-size: 16px;
    color: #fff;
}

.ex-footsocial a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 34px;
    display: block;
    height: 34px;
    text-align: center;
    line-height: 34px;
}

.ex-footsocial a i {
    font-size: 16px;
}

.ex-footsocial a:hover {
    background: #fff;
    color: #ff5f6a;
}